<mat-card class="example-card">
    <mat-card-title-group>
        <mat-card-title class="mat-elevation-z2">
            <h3>Hello, my name is</h3>
            <h1>Mia Chin <span>Millos</span></h1>
            <h4>Bachelor of Sciece in<br>Information Technology</h4>
        </mat-card-title>
      <img class="mat-elevation-z4" mat-card-xl-image src="../../assets/images/image9.jpg">
    </mat-card-title-group>
    <mat-card-content class="mat-elevation-z2">
      <mat-list>
        <mat-list-item>Birthday: December 08, 1999</mat-list-item>
        <mat-list-item>Address: Brgy. Pinamopoan Capoocan , Leyte</mat-list-item>
      </mat-list>  
    </mat-card-content>
  </mat-card>
