h6{
    font-size: 30px;
}
.social a{
    display: inline-block;
    margin-right: 15px;
    transition: transform 0.3s;
    font-size: 30px;
    padding-left: 17px;
    padding-top: 40px;
}
.social a :hover{
    transform: scale(1.6);
}
mat-card-content{
    padding-top: 40px;
    text-align: center;
    height: 300px;
}